{% extends "base.html" %}

{% block title %}Work Experience{% endblock %}

{% block content %}
<h2 class="mb-4">Work Experience</h2>
<div class="list-group">
    <div class="list-group-item">
        <h5>Software Developer <span class="badge bg-info">Oct. 2024 – To Date</span></h5>
        <p>
         <ul>
            <li> Developing, running, testing, and guiding AI model responses using python and LLM.</li>
            <li> Creating prompts (Math, Rubrics, Data, Data Analytics), reviewing, and annotating the model’s
            responses in text and code formats.</li>
            <li>Identifying errors and gaps in model responses, ensuring they are corrected accordingly.</li>
        </ul>
        </p>
    </div>
    <div class="list-group-item">
        <h5>Commercial Insurance Broker (RIBO) <span class="badge bg-primary">Sept. 2022 – Oct. 2023</span></h5>
        <p>Managed client accounts and provided insurance quotes and endorsements.</p>
    </div>
    <div class="list-group-item">
        <h5>Technical/Sales Representative <span class="badge bg-secondary">Sept. 2020 – Aug. 2021</span></h5>
        <p>Troubleshot technical issues and supported customers effectively.</p>
    </div>
    <div class="list-group-item">
        <h5>Sales Representative, Coca-Cola <span class="badge bg-success">Sept. 2013 – Aug. 2014</span></h5>
        <p>Facilitated transactions and maintained customer relationships.</p>
    </div>
</div>
{% endblock %}
