{% extends "base.html" %}

{% block title %}Education{% endblock %}

{% block content %}
<h2 class="mb-4">My Education & Certifications</h2>
<ul class="timeline">
    <li>
        <strong>Machine Learning</strong> 
        <p>R, Regression, Classification, Clustering, Association Rule Learning, 
            Reinforcement Learning, Natural Language Processing (Classical Learning, 
            Deep Learning (ANNs, CNNs, RNNs)), Dimensionality Reduction.</p>
    </li>
    <li>
        <strong>AWS Solutions Architect</strong> 
        <p> • Identity and Access Management (IAM), Infrastructure, Availability, 
            Scalability, DNS, CDN, Storages, Storage Gateway, Transfer Tools & Services, 
            Decoupling Applications, Containers & Microservice Architecture, Serverless, 
            Data and Analytics, Monitoring & Audit, Security & Encryption, 
            VPC Disaster Recovery & Migrations, Machine Learning, Event Processing, 
            Caching Strategies, Blocking an IP Address, High Performance Computing (HPC).
        <br>
            • Other Services - Cloud Formation (Infrastructure as code), SES, Pinpoint, 
            SSM Session Manager, Cost Explorer, AWS Batch, AppFlow, Amplify.</li>
            </p>
    </li>
    <li>
        <strong>Python Programming</strong> 
        <p> • Numpy, Pandas, Matplotlib, Seaborn, Scikit-learn, Tensorflow, Keras.
            • OOP – Classes, Instances, Attributes, Parameters, Methods, Encapsulation, Aggregation,
            Inheritance, Abstraction, Arguments, Modularity, Composition, Polymorphism.
         <br>
            • Algorithmic Trading - Vectorized Back-testing, Iterative Testing, API Trading.
            </p>
    </li>

    <li>
        <strong>Web Development Bootcamp</strong> 
        <p> • Front-End Web Development - HTML 5, CSS 3, Flexbox, Grid, Bootstrap 5, JavaScript ES6, DOM
            Manipulation, jQuery, Bash Command Line, Git, GitHub and Version Control.
            <br>
            • Backend Web Development - Node.js, NPM, Express.js, EJS, REST, APIs, Databases, SQL,
            PostgreSQL, Authentication, React.js, React Hooks, Web Design, Deployment with GitHub Pages, 
            Web3 Development on the Internet Computer and Blockchain technology.</p>
    </li>

    <li>
        <strong>Certificate in DevOps</strong> 
        <p>• Front-Terraform for IaC, Ansible for configuration management, Jenkins for continuous integration, 
            Docker for containerization, Kubernetes for orchestration, Helm for package managing, 
            Gradle for building, Selenium for testing, Prometheus for monitoring and Grafana for visualization.
            <br>
            • The culture of agility, planning, coding, building, testing, releasing, deploying, 
            operating and monitoring.</p>
    </li>

    <li>
        <strong>Canadian Securities Course (CSC)</strong> 
        <p>Canadian Securities Institute</p>
    </li>

    <li>
        <strong>Bachelor of commence, Honours Business Administration, Finance Major</strong> 
        <p>Odette School of Business, University of Windsor</p>
    </li>
</ul>
{% endblock %}
