{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-4 text-center">
            
        </div>

        <div class="col-md-8">
            <h2>Profile</h2>
            <p class="text-muted"> Software Developer | AWS Solutions Architect | Machine Learning Engineer | Data Science  </p>
            <a href="mailto:" class="btn btn-primary"><i class="fas fa-envelope"></i> Contact Me</a>
        </div>
    </div>

    <hr class="my-5">

    <div class="row">
        <div class="col-md-12">
            <h3>Skills</h3>
            <ul class="list-group">
                <li class="list-group-item"><i class="fas fa-code"></i> Python, R, TensorFlow, Keras</li>
                <li class="list-group-item"><i class="fas fa-cloud"></i> AWS Solutions Architect (IAM, VPC, Serverless)</li>
                <li class="list-group-item"><i class="fas fa-cogs"></i> DevOps Practices (CI/CD, Docker, Kubernetes)</li>
                <li class="list-group-item"><i class="fas fa-chart-line"></i> Financial Data Analysis</li>
            </ul>
        </div>
    </div>

    <hr class="my-5">

    <div class="row">
        <div class="col-md-12">
            <h3>Interests</h3>
            <p>
                Outside of work, I enjoy working out.
            </p>
        </div>
    </div>
</div>
{% endblock %}
